<form class="form-horizontal" autocomplete="off" #createEditOilSpecModal="ngForm" (ngSubmit)="save()">
    <abp-modal-header [title]="'CreateNewOilSpec' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <!-- Year Dropdown -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="year">
                {{ 'Year' | localize }}
            </label>
            <div class="col-md-9">
                <select
                    class="form-control"
                    name="year"
                    id="year"
                    [(ngModel)]="selectedYear"
                    (change)="onYearSelected()"
                    #year="ngModel">
                    <option value="" selected>{{ 'SelectYear' | localize }}</option>
                    <option *ngFor="let yr of years" [value]="yr">
                        {{ yr }}
                    </option>
                </select>
            </div>
        </div>

        <!-- Vehicle Make Dropdown -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="vehicleMake">
                {{ 'VehicleMake' | localize }}
            </label>
            <div class="col-md-9">
                <select
                    class="form-control"
                    name="vehicleMake"
                    id="vehicleMake"
                    [(ngModel)]="selectedMakeId"
                    (change)="onMakeSelected()"
                    [disabled]="isMakesDisabled"
                    #vehicleMake="ngModel">
                    <option value="" selected>{{ 'SelectVehicleMake' | localize }}</option>
                    <option *ngFor="let make of vehicleMakes" [value]="make.id">
                        {{ make.name }}
                    </option>
                </select>
            </div>
        </div>

        <!-- Vehicle Model Dropdown -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="vehicleModel">
                {{ 'VehicleModel' | localize }}
            </label>
            <div class="col-md-9">
                <select
                    class="form-control"
                    name="vehicleModel"
                    id="vehicleModel"
                    [(ngModel)]="selectedModelId"
                    (change)="onModelSelected()"
                    [disabled]="isModelsDisabled"
                    #vehicleModel="ngModel">
                    <option value="" selected>{{ 'SelectVehicleModel' | localize }}</option>
                    <option *ngFor="let model of vehicleModels" [value]="model.id">
                        {{ model.name }}
                    </option>
                </select>
            </div>
        </div>

        <!-- Vehicle Variant Dropdown -->
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="vehicleVariant">
                {{ 'VehicleVariant' | localize }}
            </label>
            <div class="col-md-9">
                <select
                    class="form-control"
                    name="vehicleVariant"
                    id="vehicleVariant"
                    [(ngModel)]="selectedVariantId"
                    (change)="onVariantSelected()"
                    [disabled]="isVariantsDisabled"
                    #vehicleVariant="ngModel">
                    <option value="" selected>{{ 'SelectVehicleVariant' | localize }}</option>
                    <option *ngFor="let variant of vehicleVariants" [value]="variant.id">
                        {{ variant.engineCode }}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="viscosityGrade">
                {{ 'ViscosityGrade' | localize }}
            </label>
            <div class="col-md-9">
                <input
                    type="text"
                    class="form-control"
                    name="viscosityGrade"
                    id="viscosityGrade"
                    required
                    maxlength="64"
                    [(ngModel)]="oilSpec.viscosityGrade"
                    #viscosityGrade="ngModel"
                    #viscosityGradeEl />
                <abp-validation-summary
                    [control]="viscosityGrade"
                    [controlEl]="viscosityGradeEl"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="oilType">
                {{ 'OilType' | localize }}
            </label>
            <div class="col-md-9">
                <input
                    type="text"
                    class="form-control"
                    name="oilType"
                    id="oilType"
                    maxlength="128"
                    [(ngModel)]="oilSpec.oilType"
                    #oilType="ngModel"
                    #oilTypeEl />
                <abp-validation-summary
                    [control]="oilType"
                    [controlEl]="oilTypeEl"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="oilCapacity">
                {{ 'OilCapacity' | localize }}
            </label>
            <div class="col-md-9">
                <input
                    type="number"
                    class="form-control"
                    name="oilCapacity"
                    id="oilCapacity"
                    required
                    [(ngModel)]="oilSpec.oilCapacity"
                    #oilCapacity="ngModel"
                    #oilCapacityEl />
                <abp-validation-summary
                    [control]="oilCapacity"
                    [controlEl]="oilCapacityEl"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="changeInterval">
                {{ 'ChangeInterval' | localize }}
            </label>
            <div class="col-md-9">
                <input
                    type="number"
                    class="form-control"
                    name="changeInterval"
                    id="changeInterval"
                    required
                    [(ngModel)]="oilSpec.changeInterval"
                    #changeInterval="ngModel"
                    #changeIntervalEl />
                <abp-validation-summary
                    [control]="changeInterval"
                    [controlEl]="changeIntervalEl"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="notes">
                {{ 'Notes' | localize }}
            </label>
            <div class="col-md-9">
                <textarea
                    class="form-control"
                    name="notes"
                    id="notes"
                    [(ngModel)]="oilSpec.notes"
                    #notes="ngModel"
                    #notesEl
                    rows="3"></textarea>
                <abp-validation-summary
                    [control]="notes"
                    [controlEl]="notesEl"></abp-validation-summary>
            </div>
        </div>
    </div>
    <abp-modal-footer
        [cancelDisabled]="saving"
        [saveDisabled]="!createEditOilSpecModal.form.valid || saving"
        (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>

